* {
    box-sizing: border-box;
  }
  
  body {
    background: #fdfdff;
    margin: 0;
  }
  
  main {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  #image-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 15rem;
  }
  
  #social-media ul {
    font-size: 7rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
  }
  
  #social-media i {
    color: #3577f3;
    border: 0.2rem solid #0c1411;
    padding: 0.5rem;
    border-radius: 6rem;
    list-style-type: none;
  }
   
  .header-image {
    height: 90vh;
  }
  
  .header-image:hover{
   height: 100vh;
   transition: all ease-in 0.30s;
  }
  #content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  
  #contentnav {
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding-top: 3rem;
    padding-right: 3rem;
  }
  
  #navmenu ul {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
  }
  
  #navmenu li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2.7rem;
    list-style-type: none;
  }
  
  #navmenu li a {
    color: #303c4e;
    text-decoration: none;
  }
  
  #navmenu li a:hover {
    color: #092cf1;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .logo {
    height: 10vh;
  }
  
  #content-text {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    text-align: end;
    padding-right: 3rem;
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 8rem;
    line-height: 7rem;
    color: #303c4e;
    margin-bottom: 3rem;
  }

  h1:hover{
    font-style: italic;
    text-decoration: underline 5px solid blue;
  }
  
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 40rem;
  }
  
  button {
    background-color: #466afb;
    padding: 0.5rem 2rem;
    border: 0.1rem solid #06110d;
    border-radius: 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #303c4e;
    transition: 0.5s ease;
  }
  
  button:hover {
    background-color: #d53fe3;
    cursor: pointer;
    color: rgb(14, 2, 2);
    transition: 0.5s;
  }
  
  #footer {
    display: flex;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
  
  #contacts {
    text-align: end;
    padding-right: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  #phone,
  #adress {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #303c4e;
  }
  
  #phone span {
    font-size: 1.9rem;
    font-weight: 600;
    color: #ed6d0b;
    letter-spacing: 0.2rem;
  }
  
  .icons {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  
  
  @media (max-width: 600px) {
    * {
      font-size: 60%;
    }
    
   main {
      flex-direction: column-reverse;
      width: auto;
    }
  
    #content {
      margin-right: 0rem;
    }
  
    .logo {
      height: 4rem;
      margin-top: 5rem;
    }
  
  #contentnav {
    width: 40rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding-top: 3rem;
  }
  
  #navmenu ul {
    justify-content: flex-end;
    padding-left: 2rem;
  }
  
  #navmenu li + li {
    margin-left: 2rem;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  button {
    margin-bottom: 3rem;
  }
  
  .header-image {
    height: auto;
    width: 33rem;
    opacity: .5;
  }
  
  #image-section {
    min-height: 0vh;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    
  } 
    
  }